:root {
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
  --back-ground-color: #fde6e0;
  --border-color: #93b3b0;
  --font-color: #53515e;
  --border-box-color: #eba99d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--back-ground-color);
}

.linhklatt {
  width: 60%;
  margin: 20px;
  background-color: var(--back-ground-color);
  color: var(--font-color);
  text-decoration: none;
}
#about-me {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
#about-me h2 {
  border-right: 5px groove var(--border-color);
  margin: 0 35px 0 0px;
  font-size: 34px;
  font-family: var(--font-family);
}

#work {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}
#work h2 {
  border-right: 5px groove var(--border-color);
  margin: 0 35px 0 12px;
  font-size: 34px;
  font-family: var(--font-family);
}
.content {
  display: flex;
  flex-direction: column;
}
.header {
  padding: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #93b3b0;
  text-decoration: none;
  color: #ffffff;
}
.header h1 {
  display: inline-block;
  text-decoration: none;
  font-size: 48px;
  color: #30373b;
  text-align: center;
}
.header nav {
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  margin-right: 20px;
  padding: 10px;
}
nav {
  display: block;
  color: #2196cc;
}
a {
  color: #53515e;
}
.header nav ul {
  list-style-type: none;
  margin-right: 30px;
}
.header nav ul li {
  display: inline-block;
  margin-left: 20px;
}
section h2 {
  display: flex;
  padding: 5%;
  text-align: end;
}
.hero {
  position: relative;
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210324/pngtree-portfolio-memphis-playful-abstract-pink-image_593412.jpg);
  background-size: cover;
  background-position: bottom;
}
.hero h2 {
  text-align: end;
}
.quote {
  width: 42%;
  position: absolute;
  bottom: 8px;
  right: 17px;
  font-size: 27px;
  text-align: center;
  quotes: initial;
  font-weight: bold;
}
.flex-container {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  margin: 0;
}
.flex-small-items {
  position: relative;
  display: flex;
  padding: 5px;
  width: 50%;
}
.flex-main-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.flex-main-item img {
  border: 3px solid var(--border-color);
  width: 100%;
  height: 350px;
}
.flex-small-items img {
  border: 3px solid var(--border-color);
  width: 100%;
  height: 250px;
}

.flex-small-items:hover {
  transition: all 0.6s ease-in-out;
  box-shadow: inset 0px 0px 10px var(--border-box-color),
    0px 0px 15px var(--border-box-color);
}
.flex-main-item:hover {
  transition: all 0.6s ease-in-out;
  box-shadow: inset 0px 0px 10px var(--border-box-color),
    0px 0px 15px var(--border-box-color);
}

.data-specialist,
.calculus,
.city-college,
.ucsd-bootcamp {
  position: absolute;
  bottom: 20px;
  font-size: 15px;
  background-color: var(--border-box-color);
  text-align: left;
  padding: 5px;
  -webkit-box-decoration-break: clone;
  box-shadow: 10px 5px 5px var(--border-color);
}
.project-manager {
  position: absolute;
  bottom: -153px;
  font-size: 15px;
  background-color: var(--border-box-color);
  text-align: left;
  padding: 5px;
  -webkit-box-decoration-break: clone;
  box-shadow: 10px 5px 5px var(--border-color);
}

footer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  justify-content: center;
}
.info {
  color: #30373b;
  padding-right: 650px;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}
.info a {
  display: inline-block;
  margin-left: 20px;
}

#contact-me {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#contact-me h2 {
  border-right: 5px groove var(--border-color);
  margin: 0 0px 0px 98px;
  font-size: 34px;
  font-family: var(--font-family);
}
